@import "reset.min.less";

html {
    font-size: 100px;
}

html,
body {
    height: 100%;
}

.mainBox {
    margin: 0 auto;
    height: 100%;
    max-width: 640px;
}

.loadingBox {
    position: relative;

    .title {
        position: absolute;
        top: 

    }
}