# dependencies
node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# npm or yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# webStorm
.idea

# vscode
.vscode
launch.json

/Repository/
/.vscode/
.launch.json
git

jQuery
yarn.lock
package.json
zepto/.yarn-integrity
zepto/zepto/MIT-LICENSE
zepto/zepto/README.md
zepto/zepto/dist/zepto.js
zepto/zepto/dist/zepto.min.js
zepto/zepto/src/ajax.js
zepto/zepto/src/assets.js
zepto/zepto/src/callbacks.js
zepto/zepto/src/data.js
zepto/zepto/src/deferred.js
zepto/zepto/src/detect.js
zepto/zepto/src/event.js
zepto/zepto/src/form.js
zepto/zepto/src/fx_methods.js
zepto/zepto/src/fx.js
zepto/zepto/src/gesture.js
zepto/zepto/src/ie.js
zepto/zepto/src/ios3.js
zepto/zepto/src/selector.js
zepto/zepto/src/stack.js
zepto/zepto/src/touch.js
zepto/zepto/src/zepto.js
zepto/MIT-LICENSE
zepto/README.md
zepto/dist/zepto.js
zepto/dist/zepto.min.js
zepto/src/ajax.js
zepto/src/assets.js
zepto/src/callbacks.js
zepto/src/data.js
zepto/src/deferred.js
zepto/src/detect.js
zepto/src/event.js
zepto/src/form.js
zepto/src/fx_methods.js
zepto/src/fx.js
zepto/src/gesture.js
zepto/src/ie.js
zepto/src/ios3.js
zepto/src/selector.js
zepto/src/stack.js
zepto/src/touch.js
zepto/src/zepto.js
swiper/swiper.min.css
swiper/swiper.min.js
swiper/swiper-5.2.0/.editorconfig
swiper/swiper-5.2.0/.eslintignore
swiper/swiper-5.2.0/.eslintrc.js
swiper/swiper-5.2.0/.gitignore
swiper/swiper-5.2.0/.npmignore
swiper/swiper-5.2.0/.travis.yml
swiper/swiper-5.2.0/CHANGELOG.md
swiper/swiper-5.2.0/CONTRIBUTING.md
swiper/swiper-5.2.0/gulpfile.js
swiper/swiper-5.2.0/LICENSE
swiper/swiper-5.2.0/package-lock.json
swiper/swiper-5.2.0/README.md
swiper/swiper-5.2.0/.github/ISSUE_TEMPLATE.md
swiper/swiper-5.2.0/.github/lock.yml
swiper/swiper-5.2.0/.github/PULL_REQUEST_TEMPLATE.md
swiper/swiper-5.2.0/.github/stale.yml
swiper/swiper-5.2.0/demos/010-default.html
swiper/swiper-5.2.0/demos/020-navigation.html
swiper/swiper-5.2.0/demos/030-pagination.html
swiper/swiper-5.2.0/demos/040-pagination-dynamic.html
swiper/swiper-5.2.0/demos/050-pagination-progress.html
swiper/swiper-5.2.0/demos/060-pagination-fraction.html
swiper/swiper-5.2.0/demos/070-pagination-custom.html
swiper/swiper-5.2.0/demos/080-scrollbar.html
swiper/swiper-5.2.0/demos/090-vertical.html
swiper/swiper-5.2.0/demos/100-space-between.html
swiper/swiper-5.2.0/demos/110-slides-per-view.html
swiper/swiper-5.2.0/demos/120-slides-per-view-auto.html
swiper/swiper-5.2.0/demos/130-centered.html
swiper/swiper-5.2.0/demos/140-centered-auto.html
swiper/swiper-5.2.0/demos/145-css-mode.html
swiper/swiper-5.2.0/demos/150-freemode.html
swiper/swiper-5.2.0/demos/160-scroll-container.html
swiper/swiper-5.2.0/demos/170-slides-per-column.html
swiper/swiper-5.2.0/demos/180-nested.html
swiper/swiper-5.2.0/demos/190-grab-cursor.html
swiper/swiper-5.2.0/demos/200-infinite-loop.html
swiper/swiper-5.2.0/demos/210-infinite-loop-with-slides-per-group.html
swiper/swiper-5.2.0/demos/220-effect-fade.html
swiper/swiper-5.2.0/demos/230-effect-cube.html
swiper/swiper-5.2.0/demos/240-effect-coverflow.html
swiper/swiper-5.2.0/demos/250-effect-flip.html
swiper/swiper-5.2.0/demos/260-keyboard-control.html
swiper/swiper-5.2.0/demos/270-mousewheel-control.html
swiper/swiper-5.2.0/demos/280-autoplay.html
swiper/swiper-5.2.0/demos/290-dynamic-slides.html
swiper/swiper-5.2.0/demos/300-thumbs-gallery.html
swiper/swiper-5.2.0/demos/310-thumbs-gallery-loop.html
swiper/swiper-5.2.0/demos/320-multiple-swipers.html
swiper/swiper-5.2.0/demos/330-hash-navigation.html
swiper/swiper-5.2.0/demos/340-history.html
swiper/swiper-5.2.0/demos/350-rtl.html
swiper/swiper-5.2.0/demos/360-parallax.html
swiper/swiper-5.2.0/demos/370-lazy-load-images.html
swiper/swiper-5.2.0/demos/380-responsive-breakpoints.html
swiper/swiper-5.2.0/demos/390-autoheight.html
swiper/swiper-5.2.0/demos/400-zoom.html
swiper/swiper-5.2.0/demos/410-virtual-slides.html
swiper/swiper-5.2.0/demos/420-custom-plugin.html
swiper/swiper-5.2.0/demos/430-slideable-menu.html
swiper/swiper-5.2.0/demos/440-change-direction.html
swiper/swiper-5.2.0/demos/450-watchSlidesVisibility.html
swiper/swiper-5.2.0/demos/images/nature-1.jpg
swiper/swiper-5.2.0/demos/images/nature-2.jpg
swiper/swiper-5.2.0/demos/images/nature-3.jpg
swiper/swiper-5.2.0/demos/images/nature-4.jpg
swiper/swiper-5.2.0/demos/images/nature-5.jpg
swiper/swiper-5.2.0/demos/images/nature-6.jpg
swiper/swiper-5.2.0/demos/images/nature-7.jpg
swiper/swiper-5.2.0/demos/images/nature-8.jpg
swiper/swiper-5.2.0/demos/images/nature-9.jpg
swiper/swiper-5.2.0/demos/images/nature-10.jpg
swiper/swiper-5.2.0/package/README.md
swiper/swiper-5.2.0/package/swiper.less
swiper/swiper-5.2.0/package/swiper.scss
swiper/swiper-5.2.0/package/components/a11y/a11y.less
swiper/swiper-5.2.0/package/components/a11y/a11y.scss
swiper/swiper-5.2.0/package/components/controller/controller.less
swiper/swiper-5.2.0/package/components/controller/controller.scss
swiper/swiper-5.2.0/package/components/core/core.less
swiper/swiper-5.2.0/package/components/core/core.scss
swiper/swiper-5.2.0/package/components/effect-coverflow/effect-coverflow.less
swiper/swiper-5.2.0/package/components/effect-coverflow/effect-coverflow.scss
swiper/swiper-5.2.0/package/components/effect-cube/effect-cube.less
swiper/swiper-5.2.0/package/components/effect-cube/effect-cube.scss
swiper/swiper-5.2.0/package/components/effect-fade/effect-fade.less
swiper/swiper-5.2.0/package/components/effect-fade/effect-fade.scss
swiper/swiper-5.2.0/package/components/effect-flip/effect-flip.less
swiper/swiper-5.2.0/package/components/effect-flip/effect-flip.scss
swiper/swiper-5.2.0/package/components/lazy/lazy.less
swiper/swiper-5.2.0/package/components/lazy/lazy.scss
swiper/swiper-5.2.0/package/components/navigation/navigation.less
swiper/swiper-5.2.0/package/components/navigation/navigation.scss
swiper/swiper-5.2.0/package/components/pagination/pagination.less
swiper/swiper-5.2.0/package/components/pagination/pagination.scss
swiper/swiper-5.2.0/package/components/scrollbar/scrollbar.less
swiper/swiper-5.2.0/package/components/scrollbar/scrollbar.scss
swiper/swiper-5.2.0/package/components/thumbs/thumbs.less
swiper/swiper-5.2.0/package/components/thumbs/thumbs.scss
swiper/swiper-5.2.0/package/components/zoom/zoom.less
swiper/swiper-5.2.0/package/components/zoom/zoom.scss
swiper/swiper-5.2.0/package/css/swiper.css
swiper/swiper-5.2.0/package/css/swiper.min.css
swiper/swiper-5.2.0/package/js/swiper.esm.browser.bundle.js
swiper/swiper-5.2.0/package/js/swiper.esm.browser.bundle.js.map
swiper/swiper-5.2.0/package/js/swiper.esm.browser.bundle.min.js
swiper/swiper-5.2.0/package/js/swiper.esm.browser.bundle.min.js.map
swiper/swiper-5.2.0/package/js/swiper.esm.bundle.js
swiper/swiper-5.2.0/package/js/swiper.esm.bundle.js.map
swiper/swiper-5.2.0/package/js/swiper.esm.js
swiper/swiper-5.2.0/package/js/swiper.esm.js.map
swiper/swiper-5.2.0/package/js/swiper.js
swiper/swiper-5.2.0/package/js/swiper.js.map
swiper/swiper-5.2.0/package/js/swiper.min.js
swiper/swiper-5.2.0/package/js/swiper.min.js.map
swiper/swiper-5.2.0/package/less/mixins.less
swiper/swiper-5.2.0/package/scss/functions.scss
swiper/swiper-5.2.0/package/src/swiper.js
swiper/swiper-5.2.0/package/src/swiper.less
swiper/swiper-5.2.0/package/src/swiper.scss
swiper/swiper-5.2.0/package/src/components/a11y/a11y.js
swiper/swiper-5.2.0/package/src/components/a11y/a11y.less
swiper/swiper-5.2.0/package/src/components/a11y/a11y.scss
swiper/swiper-5.2.0/package/src/components/autoplay/autoplay.js
swiper/swiper-5.2.0/package/src/components/controller/controller.js
swiper/swiper-5.2.0/package/src/components/controller/controller.less
swiper/swiper-5.2.0/package/src/components/controller/controller.scss
swiper/swiper-5.2.0/package/src/components/core/core-class.js
swiper/swiper-5.2.0/package/src/components/core/core.less
swiper/swiper-5.2.0/package/src/components/core/core.scss
swiper/swiper-5.2.0/package/src/components/core/defaults.js
swiper/swiper-5.2.0/package/src/components/core/breakpoints/getBreakpoint.js
swiper/swiper-5.2.0/package/src/components/core/breakpoints/index.js
swiper/swiper-5.2.0/package/src/components/core/breakpoints/setBreakpoint.js
swiper/swiper-5.2.0/package/src/components/core/check-overflow/index.js
swiper/swiper-5.2.0/package/src/components/core/classes/addClasses.js
swiper/swiper-5.2.0/package/src/components/core/classes/index.js
swiper/swiper-5.2.0/package/src/components/core/classes/removeClasses.js
swiper/swiper-5.2.0/package/src/components/core/events/index.js
swiper/swiper-5.2.0/package/src/components/core/events/onClick.js
swiper/swiper-5.2.0/package/src/components/core/events/onResize.js
swiper/swiper-5.2.0/package/src/components/core/events/onScroll.js
swiper/swiper-5.2.0/package/src/components/core/events/onTouchEnd.js
swiper/swiper-5.2.0/package/src/components/core/events/onTouchMove.js
swiper/swiper-5.2.0/package/src/components/core/events/onTouchStart.js
swiper/swiper-5.2.0/package/src/components/core/grab-cursor/index.js
swiper/swiper-5.2.0/package/src/components/core/grab-cursor/setGrabCursor.js
swiper/swiper-5.2.0/package/src/components/core/grab-cursor/unsetGrabCursor.js
swiper/swiper-5.2.0/package/src/components/core/images/index.js
swiper/swiper-5.2.0/package/src/components/core/images/loadImage.js
swiper/swiper-5.2.0/package/src/components/core/images/preloadImages.js
swiper/swiper-5.2.0/package/src/components/core/loop/index.js
swiper/swiper-5.2.0/package/src/components/core/loop/loopCreate.js
swiper/swiper-5.2.0/package/src/components/core/loop/loopDestroy.js
swiper/swiper-5.2.0/package/src/components/core/loop/loopFix.js
swiper/swiper-5.2.0/package/src/components/core/manipulation/addSlide.js
swiper/swiper-5.2.0/package/src/components/core/manipulation/appendSlide.js
swiper/swiper-5.2.0/package/src/components/core/manipulation/index.js
swiper/swiper-5.2.0/package/src/components/core/manipulation/prependSlide.js
swiper/swiper-5.2.0/package/src/components/core/manipulation/removeAllSlides.js
swiper/swiper-5.2.0/package/src/components/core/manipulation/removeSlide.js
swiper/swiper-5.2.0/package/src/components/core/slide/index.js
swiper/swiper-5.2.0/package/src/components/core/slide/slideNext.js
swiper/swiper-5.2.0/package/src/components/core/slide/slidePrev.js
swiper/swiper-5.2.0/package/src/components/core/slide/slideReset.js
swiper/swiper-5.2.0/package/src/components/core/slide/slideTo.js
swiper/swiper-5.2.0/package/src/components/core/slide/slideToClickedSlide.js
swiper/swiper-5.2.0/package/src/components/core/slide/slideToClosest.js
swiper/swiper-5.2.0/package/src/components/core/slide/slideToLoop.js
swiper/swiper-5.2.0/package/src/components/core/transition/index.js
swiper/swiper-5.2.0/package/src/components/core/transition/setTransition.js
swiper/swiper-5.2.0/package/src/components/core/transition/transitionEnd.js
swiper/swiper-5.2.0/package/src/components/core/transition/transitionStart.js
swiper/swiper-5.2.0/package/src/components/core/translate/getTranslate.js
swiper/swiper-5.2.0/package/src/components/core/translate/index.js
swiper/swiper-5.2.0/package/src/components/core/translate/maxTranslate.js
swiper/swiper-5.2.0/package/src/components/core/translate/minTranslate.js
swiper/swiper-5.2.0/package/src/components/core/translate/setTranslate.js
swiper/swiper-5.2.0/package/src/components/core/translate/translateTo.js
swiper/swiper-5.2.0/package/src/components/core/update/index.js
swiper/swiper-5.2.0/package/src/components/core/update/updateActiveIndex.js
swiper/swiper-5.2.0/package/src/components/core/update/updateAutoHeight.js
swiper/swiper-5.2.0/package/src/components/core/update/updateClickedSlide.js
swiper/swiper-5.2.0/package/src/components/core/update/updateProgress.js
swiper/swiper-5.2.0/package/src/components/core/update/updateSize.js
swiper/swiper-5.2.0/package/src/components/core/update/updateSlides.js
swiper/swiper-5.2.0/package/src/components/core/update/updateSlidesClasses.js
swiper/swiper-5.2.0/package/src/components/core/update/updateSlidesOffset.js
swiper/swiper-5.2.0/package/src/components/core/update/updateSlidesProgress.js
swiper/swiper-5.2.0/package/src/components/effect-coverflow/effect-coverflow.js
swiper/swiper-5.2.0/package/src/components/effect-coverflow/effect-coverflow.less
swiper/swiper-5.2.0/package/src/components/effect-coverflow/effect-coverflow.scss
swiper/swiper-5.2.0/package/src/components/effect-cube/effect-cube.js
swiper/swiper-5.2.0/package/src/components/effect-cube/effect-cube.less
swiper/swiper-5.2.0/package/src/components/effect-cube/effect-cube.scss
swiper/swiper-5.2.0/package/src/components/effect-fade/effect-fade.js
swiper/swiper-5.2.0/package/src/components/effect-fade/effect-fade.less
swiper/swiper-5.2.0/package/src/components/effect-fade/effect-fade.scss
swiper/swiper-5.2.0/package/src/components/effect-flip/effect-flip.js
swiper/swiper-5.2.0/package/src/components/effect-flip/effect-flip.less
swiper/swiper-5.2.0/package/src/components/effect-flip/effect-flip.scss
swiper/swiper-5.2.0/package/src/components/hash-navigation/hash-navigation.js
swiper/swiper-5.2.0/package/src/components/history/history.js
swiper/swiper-5.2.0/package/src/components/keyboard/keyboard.js
swiper/swiper-5.2.0/package/src/components/lazy/lazy.js
swiper/swiper-5.2.0/package/src/components/lazy/lazy.less
swiper/swiper-5.2.0/package/src/components/lazy/lazy.scss
swiper/swiper-5.2.0/package/src/components/mousewheel/mousewheel.js
swiper/swiper-5.2.0/package/src/components/navigation/navigation.js
swiper/swiper-5.2.0/package/src/components/navigation/navigation.less
swiper/swiper-5.2.0/package/src/components/navigation/navigation.scss
swiper/swiper-5.2.0/package/src/components/pagination/pagination.js
swiper/swiper-5.2.0/package/src/components/pagination/pagination.less
swiper/swiper-5.2.0/package/src/components/pagination/pagination.scss
swiper/swiper-5.2.0/package/src/components/parallax/parallax.js
swiper/swiper-5.2.0/package/src/components/scrollbar/scrollbar.js
swiper/swiper-5.2.0/package/src/components/scrollbar/scrollbar.less
swiper/swiper-5.2.0/package/src/components/scrollbar/scrollbar.scss
swiper/swiper-5.2.0/package/src/components/thumbs/thumbs.js
swiper/swiper-5.2.0/package/src/components/thumbs/thumbs.less
swiper/swiper-5.2.0/package/src/components/thumbs/thumbs.scss
swiper/swiper-5.2.0/package/src/components/virtual/virtual.js
swiper/swiper-5.2.0/package/src/components/zoom/zoom.js
swiper/swiper-5.2.0/package/src/components/zoom/zoom.less
swiper/swiper-5.2.0/package/src/components/zoom/zoom.scss
swiper/swiper-5.2.0/package/src/icons/font/swiper-icons.ttf
swiper/swiper-5.2.0/package/src/icons/font/swiper-icons.woff
swiper/swiper-5.2.0/package/src/icons/font/swiper-icons.woff2
swiper/swiper-5.2.0/package/src/icons/svg/next.svg
swiper/swiper-5.2.0/package/src/icons/svg/prev.svg
swiper/swiper-5.2.0/package/src/less/mixins.less
swiper/swiper-5.2.0/package/src/less/plugin.js
swiper/swiper-5.2.0/package/src/modules/browser/browser.js
swiper/swiper-5.2.0/package/src/modules/device/device.js
swiper/swiper-5.2.0/package/src/modules/observer/observer.js
swiper/swiper-5.2.0/package/src/modules/resize/resize.js
swiper/swiper-5.2.0/package/src/modules/support/support.js
swiper/swiper-5.2.0/package/src/scss/functions.scss
swiper/swiper-5.2.0/package/src/utils/browser.js
swiper/swiper-5.2.0/package/src/utils/class.js
swiper/swiper-5.2.0/package/src/utils/device.js
swiper/swiper-5.2.0/package/src/utils/dom.js
swiper/swiper-5.2.0/package/src/utils/support.js
swiper/swiper-5.2.0/package/src/utils/utils.js
swiper/swiper-5.2.0/playground/index.html
swiper/swiper-5.2.0/scripts/banner.js
swiper/swiper-5.2.0/scripts/build-config.js
swiper/swiper-5.2.0/scripts/build-js.js
swiper/swiper-5.2.0/scripts/build-styles.js
swiper/swiper-5.2.0/scripts/gulpfile.js
swiper/swiper-5.2.0/scripts/icon-font/blank.svg
swiper/swiper-5.2.0/scripts/icon-font/generate_font.py
swiper/swiper-5.2.0/scripts/icon-font/generate.py
swiper/swiper-5.2.0/scripts/icon-font/sfnt2woff
swiper/swiper-5.2.0/scripts/utils/autoprefixer.js
swiper/swiper-5.2.0/scripts/utils/clean-css.js
swiper/swiper-5.2.0/scripts/utils/fs-extra.js
swiper/swiper-5.2.0/scripts/utils/less.js
swiper/swiper-5.2.0/src/swiper.js
swiper/swiper-5.2.0/src/swiper.less
swiper/swiper-5.2.0/src/swiper.scss
swiper/swiper-5.2.0/src/components/a11y/a11y.js
swiper/swiper-5.2.0/src/components/a11y/a11y.less
swiper/swiper-5.2.0/src/components/a11y/a11y.scss
swiper/swiper-5.2.0/src/components/autoplay/autoplay.js
swiper/swiper-5.2.0/src/components/controller/controller.js
swiper/swiper-5.2.0/src/components/controller/controller.less
swiper/swiper-5.2.0/src/components/controller/controller.scss
swiper/swiper-5.2.0/src/components/core/core-class.js
swiper/swiper-5.2.0/src/components/core/core.less
swiper/swiper-5.2.0/src/components/core/core.scss
swiper/swiper-5.2.0/src/components/core/defaults.js
swiper/swiper-5.2.0/src/components/core/breakpoints/getBreakpoint.js
swiper/swiper-5.2.0/src/components/core/breakpoints/index.js
swiper/swiper-5.2.0/src/components/core/breakpoints/setBreakpoint.js
swiper/swiper-5.2.0/src/components/core/check-overflow/index.js
swiper/swiper-5.2.0/src/components/core/classes/addClasses.js
swiper/swiper-5.2.0/src/components/core/classes/index.js
swiper/swiper-5.2.0/src/components/core/classes/removeClasses.js
swiper/swiper-5.2.0/src/components/core/events/index.js
swiper/swiper-5.2.0/src/components/core/events/onClick.js
swiper/swiper-5.2.0/src/components/core/events/onResize.js
swiper/swiper-5.2.0/src/components/core/events/onScroll.js
swiper/swiper-5.2.0/src/components/core/events/onTouchEnd.js
swiper/swiper-5.2.0/src/components/core/events/onTouchMove.js
swiper/swiper-5.2.0/src/components/core/events/onTouchStart.js
swiper/swiper-5.2.0/src/components/core/grab-cursor/index.js
swiper/swiper-5.2.0/src/components/core/grab-cursor/setGrabCursor.js
swiper/swiper-5.2.0/src/components/core/grab-cursor/unsetGrabCursor.js
swiper/swiper-5.2.0/src/components/core/images/index.js
swiper/swiper-5.2.0/src/components/core/images/loadImage.js
swiper/swiper-5.2.0/src/components/core/images/preloadImages.js
swiper/swiper-5.2.0/src/components/core/loop/index.js
swiper/swiper-5.2.0/src/components/core/loop/loopCreate.js
swiper/swiper-5.2.0/src/components/core/loop/loopDestroy.js
swiper/swiper-5.2.0/src/components/core/loop/loopFix.js
swiper/swiper-5.2.0/src/components/core/manipulation/addSlide.js
swiper/swiper-5.2.0/src/components/core/manipulation/appendSlide.js
swiper/swiper-5.2.0/src/components/core/manipulation/index.js
swiper/swiper-5.2.0/src/components/core/manipulation/prependSlide.js
swiper/swiper-5.2.0/src/components/core/manipulation/removeAllSlides.js
swiper/swiper-5.2.0/src/components/core/manipulation/removeSlide.js
swiper/swiper-5.2.0/src/components/core/slide/index.js
swiper/swiper-5.2.0/src/components/core/slide/slideNext.js
swiper/swiper-5.2.0/src/components/core/slide/slidePrev.js
swiper/swiper-5.2.0/src/components/core/slide/slideReset.js
swiper/swiper-5.2.0/src/components/core/slide/slideTo.js
swiper/swiper-5.2.0/src/components/core/slide/slideToClickedSlide.js
swiper/swiper-5.2.0/src/components/core/slide/slideToClosest.js
swiper/swiper-5.2.0/src/components/core/slide/slideToLoop.js
swiper/swiper-5.2.0/src/components/core/transition/index.js
swiper/swiper-5.2.0/src/components/core/transition/setTransition.js
swiper/swiper-5.2.0/src/components/core/transition/transitionEnd.js
swiper/swiper-5.2.0/src/components/core/transition/transitionStart.js
swiper/swiper-5.2.0/src/components/core/translate/getTranslate.js
swiper/swiper-5.2.0/src/components/core/translate/index.js
swiper/swiper-5.2.0/src/components/core/translate/maxTranslate.js
swiper/swiper-5.2.0/src/components/core/translate/minTranslate.js
swiper/swiper-5.2.0/src/components/core/translate/setTranslate.js
swiper/swiper-5.2.0/src/components/core/translate/translateTo.js
swiper/swiper-5.2.0/src/components/core/update/index.js
swiper/swiper-5.2.0/src/components/core/update/updateActiveIndex.js
swiper/swiper-5.2.0/src/components/core/update/updateAutoHeight.js
swiper/swiper-5.2.0/src/components/core/update/updateClickedSlide.js
swiper/swiper-5.2.0/src/components/core/update/updateProgress.js
swiper/swiper-5.2.0/src/components/core/update/updateSize.js
swiper/swiper-5.2.0/src/components/core/update/updateSlides.js
swiper/swiper-5.2.0/src/components/core/update/updateSlidesClasses.js
swiper/swiper-5.2.0/src/components/core/update/updateSlidesOffset.js
swiper/swiper-5.2.0/src/components/core/update/updateSlidesProgress.js
swiper/swiper-5.2.0/src/components/effect-coverflow/effect-coverflow.js
swiper/swiper-5.2.0/src/components/effect-coverflow/effect-coverflow.less
swiper/swiper-5.2.0/src/components/effect-coverflow/effect-coverflow.scss
swiper/swiper-5.2.0/src/components/effect-cube/effect-cube.js
swiper/swiper-5.2.0/src/components/effect-cube/effect-cube.less
swiper/swiper-5.2.0/src/components/effect-cube/effect-cube.scss
swiper/swiper-5.2.0/src/components/effect-fade/effect-fade.js
swiper/swiper-5.2.0/src/components/effect-fade/effect-fade.less
swiper/swiper-5.2.0/src/components/effect-fade/effect-fade.scss
swiper/swiper-5.2.0/src/components/effect-flip/effect-flip.js
swiper/swiper-5.2.0/src/components/effect-flip/effect-flip.less
swiper/swiper-5.2.0/src/components/effect-flip/effect-flip.scss
swiper/swiper-5.2.0/src/components/hash-navigation/hash-navigation.js
swiper/swiper-5.2.0/src/components/history/history.js
swiper/swiper-5.2.0/src/components/keyboard/keyboard.js
swiper/swiper-5.2.0/src/components/lazy/lazy.js
swiper/swiper-5.2.0/src/components/lazy/lazy.less
swiper/swiper-5.2.0/src/components/lazy/lazy.scss
swiper/swiper-5.2.0/src/components/mousewheel/mousewheel.js
swiper/swiper-5.2.0/src/components/navigation/navigation.js
swiper/swiper-5.2.0/src/components/navigation/navigation.less
swiper/swiper-5.2.0/src/components/navigation/navigation.scss
swiper/swiper-5.2.0/src/components/pagination/pagination.js
swiper/swiper-5.2.0/src/components/pagination/pagination.less
swiper/swiper-5.2.0/src/components/pagination/pagination.scss
swiper/swiper-5.2.0/src/components/parallax/parallax.js
swiper/swiper-5.2.0/src/components/scrollbar/scrollbar.js
swiper/swiper-5.2.0/src/components/scrollbar/scrollbar.less
swiper/swiper-5.2.0/src/components/scrollbar/scrollbar.scss
swiper/swiper-5.2.0/src/components/thumbs/thumbs.js
swiper/swiper-5.2.0/src/components/thumbs/thumbs.less
swiper/swiper-5.2.0/src/components/thumbs/thumbs.scss
swiper/swiper-5.2.0/src/components/virtual/virtual.js
swiper/swiper-5.2.0/src/components/zoom/zoom.js
swiper/swiper-5.2.0/src/components/zoom/zoom.less
swiper/swiper-5.2.0/src/components/zoom/zoom.scss
swiper/swiper-5.2.0/src/icons/font/swiper-icons.ttf
swiper/swiper-5.2.0/src/icons/font/swiper-icons.woff
swiper/swiper-5.2.0/src/icons/font/swiper-icons.woff2
swiper/swiper-5.2.0/src/icons/svg/next.svg
swiper/swiper-5.2.0/src/icons/svg/prev.svg
swiper/swiper-5.2.0/src/less/mixins.less
swiper/swiper-5.2.0/src/less/plugin.js
swiper/swiper-5.2.0/src/modules/browser/browser.js
swiper/swiper-5.2.0/src/modules/device/device.js
swiper/swiper-5.2.0/src/modules/observer/observer.js
swiper/swiper-5.2.0/src/modules/resize/resize.js
swiper/swiper-5.2.0/src/modules/support/support.js
swiper/swiper-5.2.0/src/scss/functions.scss
swiper/swiper-5.2.0/src/utils/browser.js
swiper/swiper-5.2.0/src/utils/class.js
swiper/swiper-5.2.0/src/utils/device.js
swiper/swiper-5.2.0/src/utils/dom.js
swiper/swiper-5.2.0/src/utils/support.js
swiper/swiper-5.2.0/src/utils/utils.js
