# dependencies
node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# npm or yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# webStorm
.idea

# vscode
.vscode
launch.json

/Repository/
/.vscode/
.launch.json
git

jQuery
yarn.lock
package.json
zepto/.yarn-integrity
zepto/zepto/MIT-LICENSE
zepto/zepto/README.md
zepto/zepto/dist/zepto.js
zepto/zepto/dist/zepto.min.js
zepto/zepto/src/ajax.js
zepto/zepto/src/assets.js
zepto/zepto/src/callbacks.js
zepto/zepto/src/data.js
zepto/zepto/src/deferred.js
zepto/zepto/src/detect.js
zepto/zepto/src/event.js
zepto/zepto/src/form.js
zepto/zepto/src/fx_methods.js
zepto/zepto/src/fx.js
zepto/zepto/src/gesture.js
zepto/zepto/src/ie.js
zepto/zepto/src/ios3.js
zepto/zepto/src/selector.js
zepto/zepto/src/stack.js
zepto/zepto/src/touch.js
zepto/zepto/src/zepto.js
zepto/MIT-LICENSE
zepto/README.md
zepto/dist/zepto.js
zepto/dist/zepto.min.js
zepto/src/ajax.js
zepto/src/assets.js
zepto/src/callbacks.js
zepto/src/data.js
zepto/src/deferred.js
zepto/src/detect.js
zepto/src/event.js
zepto/src/form.js
zepto/src/fx_methods.js
zepto/src/fx.js
zepto/src/gesture.js
zepto/src/ie.js
zepto/src/ios3.js
zepto/src/selector.js
zepto/src/stack.js
zepto/src/touch.js
zepto/src/zepto.js
